<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwang.graduate.mapper.AdminMapper">
    <select id="findByAdminNameAndPassword" resultType="com.yiwang.graduate.entity.Admin" >
        select * from admin_login where admin_name = #{adminName} and password = #{password}
    </select>

    <select id="findByUserId" parameterType="int" resultType="com.yiwang.graduate.entity.Admin">
        select * from admin_login where admin_id = #{value }
    </select>
</mapper>